@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

.Modalidades h2 {
  color: #228a95;
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Lora", serif;
}

.Modalidades .modalidades-content {
  display: flex;
  justify-content: center;
}

.Modalidades .box {
  display: flex;
  flex-direction: column;
}

.Modalidades button {
  background-color: #228a95;
  font-family: "Lora", serif;
  font-weight: bold;
  border: none;
  color: white;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  width: 200px;
  height: 35px;
  font-size: 0.8rem;
}

.Modalidades span {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  font-size: 0.8rem;
  color: #777777;
}

.Modalidades button:disabled {
  opacity: 40%;
}
