@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

.Revisao h2 {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  color: #228a95;
}

.Revisao .span {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #228a95;
  align-self: flex-start;
  margin-left: 12.5rem;
}

.Revisao .revisao-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Revisao .revisao-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.Revisao .subbox img {
  width: 8%;
}

.Revisao .subbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8ffe3;
  color: #228a95;
  font-weight: bold;
  padding: 0.7rem;
  margin-top: 0.7rem;
  font-size: 0.7rem;
  margin-right: 1.3rem;
  width: 35%;
}

.Revisao .value {
  color: #ef9c4b;
}

.Revisao .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.Revisao .bottom button {
  background-color: #228a95;
  font-size: 0.8rem;
  font-family: "Lora", serif;
  font-weight: bold;
  border: none;
  color: white;
  width: 190px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Revisao .bottom span {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  color: #228a95;
}
